.favorites-empty {
  background-image: url('../../../../public/images/background-favorites.svg');
  background-position: center 35%;
  background-repeat: no-repeat;
  height: 90vh !important;
}
.c-translate {
  transform: translate(20px, 10px);
}
