.favorites-empty {
  background-image: url('../../../../public/images/background-favorites.svg');
  background-position: center 35%;
  background-repeat: no-repeat;
  height: 90vh !important;
}
.c-translate {
  transform: translate(20px, 10px);
}
.c-gap {
  gap: 60px 15px !important;
}
.c-vh {
  min-height: 75vh;
}
