@if(categories().length === 0){
<div class="w-100 d-flex justify-content-center align-items-center" style="height: 70vh">
  <p class="fw-bold fs-2">No exist item</p>
</div>
}@else {
<h3 class="m-3">Categories</h3>
<div class="d-flex justify-content-center my-3 p-3 flex-wrap gap-4 align-items-end">
  @for (cat of categories(); track cat.id) {
  <div class="card h-100">
    <img [src]="cat.image" class="card-img-top" [alt]="cat.name" />
    <div class="card-body">
      <h5 class="card-title text-cente btn-main">{{ cat.name }}</h5>
      <h5 class="card-title text-center">{{ cat.dishes_count }} dishes</h5>
    </div>
  </div>
  }
</div>
<h3 class="m-3">Dishes</h3>
<div class="d-flex justify-content-center flex-wrap c-gap">
  @for (dish of dishes(); track dish.id) {
  <app-dishes-card [dish]="dish"></app-dishes-card>
  }
</div>
}
