.category-slider {
  padding: 2rem 0;
  background-color: #f8f8f8;
  .category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    .category-name {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
    }

    .category-count {
      font-size: 0.9rem;
      color: var(--secondary-color);
    }
  }

  /* Swiper adjustments */
  ::ng-deep .swiper-button-next,
  ::ng-deep .swiper-button-prev {
    color: var(--main-color);
  }

  ::ng-deep .swiper-pagination-bullet {
    background-color: var(--main-color);
  }
}

.c-gap {
  gap: 60px 15px !important;
}
