@use 'swiper/swiper-bundle';
:root {
  --main-color: #065e21;
  --secondary-color: #cfcfcf;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-color {
  color: var(--main-color);
}
.secondary-color {
  color: var(--secondary-color);
}

.bg-main-color {
  background-color: var(--main-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.btn-main {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  background-color: var(--main-color);
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
  }
}
